{% extends 'base.html'%}

{% block maincontent %}
<style>
    .submit{
            padding:10px 10px;
        }
</style>
<div>   
    <div class="md:ml-20 ml-5 mt-10 flex-1">
     <form method="post">
        {% csrf_token %}
        {% if tool == "aesencryp" %}
        <p for="plaintext">Plain Text:</p><br><br>
        <textarea name="plaintext" id="1" cols="50" rows="10" placeholder="enter plain text"></textarea><br><br>
        {% if messages %}
        {% for message in messages %}
        <small>{{message}}</small>
        {% endfor %}
        {% endif %}
        <p for="key">Enter key:</p><br>
        <input id="key" name="key" placeholder="secret key" value="{{hexkey}}" ><br><br>
        <p for="">IV (by default):</p>
        <input type="number" id="iv" name="iv" placeholder="default- 0000000000000000" value="0000000000000000"><br><br>
        <button class="px-5 py-2 rounded" type="submit">Submit</button><br><br>
        <p for="ciphertext">Cipher Text</p><br><br>
        <textarea name="ciphertext" id="" cols="50" rows="10">{{ciphertext}}</textarea>
        {% endif %}
        {% if tool == "aesdecryp" %}
        <p for="ciphertext">Cipher Text:</p><br><br>
        <textarea name="ciphertext" id="1" cols="50" rows="10" placeholder="enter cipher text"></textarea><br><br>
        <p for="key">Enter key:</p><br>
        <input id="key" name="key" placeholder="secret key" ><br><br>
        <p for="">IV (optional):</p>
        <input type="text" id="iv" name="iv" placeholder="default- 0000000000000000"><br><br>
        <button class="px-5" type="submit">Submit</button><br><br>
        <p for="plaintext">Plain Text</p><br><br>
        <textarea name="plaintext" id="" cols="50" rows="10">{{plaintext}}</textarea>
        {% endif %}
    </form>

</div>
</div>

{% endblock %}
