<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin: 35px;">
    <form method="post">
        {% csrf_token %}
        <input type="text" placeholder="Enter IP or DNS" name="ip"><br><br>
        <input type="submit" value="Enter Value"><br><br>
    </form>
    <div style="color: white; background-color: black; width: 50%">
        {{p1|linebreaks}}
    </div>
</body>
</html>