{% extends 'base.html'%}

{% block maincontent %}

<div class="ml-20 mt-10">
    <p class="text-xl text-gray-900 mb-5">
        DNS Lookup
    </p>
    <form class="flex gap-x-5" >
        
        <input class="border-2 rounded-lg border-gray-400 px-3" placeholder="Domains/IP" type="text">
        <button class=" px-5 py-0.5 bg-green-500 rounded-lg flex items-center gap-x-2 ">DNS
            <i style="margin-top: -2px;" class="fas fa-caret-down"></i>
        </button>
    </form>
    <div>
        <p>Filters</p>
        <p>hello lookup</p>
        <p>hello lookup</p>
        <p>hello lookup</p>
        <p>hello lookup</p>
    </div>
</div>

{% endblock %}